{#
temperature - температура
description - описание (облачно, пасмурно)
#}
<div style="padding: 10px">
  <b>Погода</b>
  <span style="padding: 10px">
    {{ temperature }}
  </span>
  <span style="padding: 10px">
    {{ description }}
  </span>
</div>
